<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.classAge}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.list">
    <div class="col-12">
        <div class="card">
            <div class="row">
                <div class="card-block">
                    <div class="col-xlg-3 col-lg-3 col-md-3">
                        <div class="input-group">
                            <label>{{phrase.academicyears}}</label>
                            <select ng-model="academicYear" ng-change="selectYear()" name="select-years">
                                <option ng-selected="academicYear == year.id" ng-repeat="year in academicYears"
                                        value="{{year.id}}">{{year.yearTitle}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="col-xlg-9 col-lg-9 col-md-9">
                        <button ng-click="changeView('add')" class="btn pull-right btn-success card-block-input-item">
                            {{phrase.addClassAge}}
                        </button>

                        <div class="pull-right card-block-input-group card-block-input-item">
                            <div class="input-group input-group-sm">
                                <input type="text" name="table_search" ng-model="searchText"
                                       placeholder="{{phrase.Search}}" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xlg-12 col-lg-12 col-md-12">
                    <div class="card-block p-t-0">
                        <div class="clearfix"></div>
                        <h4 class="card-title">{{phrase.listClassAges}}</h4>
                        <div class="table-responsive">

                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr>

                                    <th>{{phrase.academicyear}}</th>
                                    <th>{{phrase.class}}</th>
                                    <th>{{phrase.dateFrom}}</th>
                                    <th>{{phrase.dateTo}}</th>
                                    <th>{{phrase.Operations}}</th>
                                </tr>
                                <tr ng-repeat="classAge in classAges | filter:searchText">
                                    <td>{{classAge.academic_year.yearTitle}}</td>
                                    <td>{{classAge.classes.className}}</td>
                                    <td>{{classAge.from}}</td>
                                    <td>{{classAge.to}}</td>

                                    <td>

                                        <button ng-click="edit(classAge.id)" type="button"
                                                class="btn btn-info btn-circle"
                                                title="{{phrase.Edit}}" tooltip><i class="fa fa-pencil"></i></button>
                                        <button ng-click="remove(classAge,$index)" type="button"
                                                class="btn btn-danger btn-circle" title="{{phrase.Remove}}" tooltip><i
                                                class="fa fa-trash-o"></i></button>
                                    </td>
                                </tr>
                                <tr ng-show="!academicYears.length">
                                    <td class="noTableData" colspan="4">{{phrase.noSemsters}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.add">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">
                    {{phrase.cancelAdd}}
                </button>
                <h4 class="card-title">{{phrase.addClassAge}}</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="addClassAge" role="form" ng-submit="saveAdd()" novalidate>
                        <div class="form-group row" ng-class="{'has-error': addClassAge.academic_year_id.$invalid}" >
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.academicyear}}
                                * </label>
                            <div class="col-sm-10">
                                <select ng-model="form.academic_year_id" ng-change="selectAcademicYear()" class="form-control" name="academic_year_id" required>
                                    <option ng-repeat="year in academicYears" value="{{year.id}}">{{year.yearTitle}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addClassAge.class_id.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.class}}
                                * </label>
                            <div class="col-sm-10">
                                <select ng-model="form.class_id" class="form-control" name="class_id" required>
                                    <option ng-repeat="class in classes" value="{{class.id}}">
                                        {{class.className}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addClassAge.from.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.dateFrom}} * </label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="from" ng-model="form.from" class="form-control datemask" required
                                       placeholder="{{phrase.dateFrom}}">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addClassAge.to.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.dateTo}} * </label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="to" ng-model="form.to" class="form-control datemask" required
                                       placeholder="{{phrase.dateTo}}">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': addClassAge.years.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.ageYears}} * </label>
                            <div class="col-sm-10">
                                <input type="text" name="years" ng-model="form.years" class="form-control" required
                                       placeholder="{{phrase.ageYears}}">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': addClassAge.months.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.ageMonths}} * </label>
                            <div class="col-sm-10">
                                <input type="number" name="months" min="1" max="12" ng-model="form.months" class="form-control" required
                                       placeholder="{{phrase.ageMonths}}">
                            </div>
                        </div>

                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light"
                                        ng-disabled="addClassAge.$invalid">{{phrase.addClassAge}}
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.edit">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">
                    {{phrase.cancelAdd}}
                </button>
                <h4 class="card-title">{{phrase.editClassAge}}</h4>
                <div class="table-responsive">

                    <form class="form-horizontal" name="editClassAge" role="form" ng-submit="saveEdit()" novalidate>
                        <div class="form-group row" ng-class="{'has-error': editClassAge.academic_year_id.$invalid}" >
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.academicyear}}
                                * </label>
                            <div class="col-sm-10">
                                <select ng-model="form.academic_year_id" ng-change="selectAcademicYear()" class="form-control" name="academic_year_id" required>
                                    <option ng-repeat="year in academicYears" value="{{year.id}}">{{year.yearTitle}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editClassAge.class_id.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.class}}
                                * </label>
                            <div class="col-sm-10">
                                <select ng-model="form.class_id" class="form-control" name="class_id" required>
                                    <option ng-repeat="class in classes" value="{{class.id}}">
                                        {{class.className}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editClassAge.from.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.dateFrom}} * </label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="from" ng-model="form.from" class="form-control datemask" required
                                       placeholder="{{phrase.dateFrom}}">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editClassAge.to.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.dateTo}} * </label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="to" ng-model="form.to" class="form-control datemask" required
                                       placeholder="{{phrase.dateTo}}">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': editClassAge.years.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.ageYears}} * </label>
                            <div class="col-sm-10">
                                <input type="text" name="years" ng-model="form.years" class="form-control" required
                                       placeholder="{{phrase.ageYears}}">
                            </div>
                        </div>
                        <div class="form-group row" ng-class="{'has-error': editClassAge.months.$invalid}">
                            <label class="col-sm-2 text-right control-label col-form-label">{{phrase.ageMonths}} * </label>
                            <div class="col-sm-10">
                                <input type="number" name="months" min="1" max="12" ng-model="form.months" class="form-control" required
                                       placeholder="{{phrase.ageMonths}}">
                            </div>
                        </div>

                        <div class="form-group m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light"
                                        ng-disabled="editClassAge.$invalid">{{phrase.editClassAge}}
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>